<head></head>
<body class="mat-app-background ">
<h2>Sarcastic Text Generator</h2>

<form class="form">
  <mat-form-field class="full-width">
    <mat-label>Type the text you want sarcasm-ified</mat-label>
    <textarea matInput placeholder="This is a good implementation" [(ngModel)]="sarcastic_text.inputText" name="inputfield"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Your sarcasm-ified text</mat-label>
    <textarea matInput value="{{sarcastic_text.inputText | sarcasm}}" readonly="true"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" [cdkCopyToClipboard]="sarcastic_text.inputText | sarcasm">Copy to clipboard</button>
</form>
</body>